<h1>New Section</h1>

<%= simple_form_for [@section.showcase.exhibit, @section.showcase, @section] do | f | %>

  <div class="row">
    <div class="col-md-6">
      <%= react_component('ImageCaptionEditor', {image: f.object.image, fieldName: "section[caption]", caption: f.object.caption}, {prerender: false}) %>
    </div>
    <div class="col-md-6">
      <%= f.input :title %>

      <p><%= link_to "Add Intro" %> </p>

      <%= f.input :description, as: :text %>
    </div>
  </div>
  <div class="form-group">
    <button class="btn btn-primary">Save</button>
  </div>
<% end %>
