<%= exhibit_title(@exhibit, 'Showcases') %>

<div class="row">
  <div class="col-md-9">

    <div class="menu-bar">
      <div class="button-group">
        <%= link_to raw("<i class=\"glyphicon glyphicon-plus\"></i> #{t('.new', :default => t("Add Showcase"))}"),
                new_exhibit_showcase_path(),
                :class => 'btn btn-primary' %>
      </div>
    </div>

    <table class="table table-striped">
      <thead>
        <tr>
          <th></th>
          <th>Showcases</th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        <% @showcases.each do |showcase| %>
          <tr>
            <td><% image = showcase.sections.find{ | s | s.image.present? } %>
              <%= image_tag(image.image, height: 64) if image %>
            </td>
            <td><%= link_to showcase.title, exhibit_showcase_sections_path(showcase.exhibit, showcase) %></td>
            <td><span class="badge"><%= showcase.sections.size %> sections</span></td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
  <div class="col-md-3">
    <div class="panel panel-default">
      <div class="panel-heading"><strong>Collection</strong></div>
      <div class="panel-body">
        <p>Exhibits sites dedicated to presenting a web friendly front end for a collection</p>
        <p><%= link_to "Goto Collection", "#{Waggle::DetermineDomain.call(:honeycomb)}collections/#{@exhibit.collection_id}/items" %></p>
      </div>
    </div>

  </div>
</div>
