<!DOCTYPE html>
<html>
<head>
  <title>ExhibitAdmin</title>
  <%= stylesheet_link_tag    'application', media: 'all'%>
  <%= javascript_include_tag 'application' %>
  <%= csrf_meta_tags %>
</head>
<body>

<header id="banner" role="banner" class="home">
  <nav class="navbar navbar-default navbar-static-top" role="navigation">
    <div class="brand-bar">
      <div class="container">
        <div class="row">
          <div class="col-sm-6">
            <a href="http://www.nd.edu">University <i>of</i> Notre Dame</a>
          </div>
          <div class="col-sm-6">
            <a class="pull-right" href="http://library.nd.edu">Hesburgh Libraries</a>
          </div>
        </div>
      </div>
    </div>
    <div class="title-bar">
      <div class="container">
        <div class="row">
          <div class="navbar-header">
             <a class="navbar-brand" href="/">Exhibits</a>
          </div>
          <div class="navbar-collapse collapse">
            <ul class="nav navbar-nav">
              <li><a href="http://localhost:3017/collections">Collections</a></li>
              <li><a href="http://localhost:3018/sections">Showcases</a></li>
              <li><a href="http://localhost:3017/admin/users">Users</a></li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </nav>
</header>

<div class="container-fluid">
  <div class="row">
    <div class="col-lg-12">
      <%= yield %>
    </div>
  </div>
</div>

<footer id="footer" class="container">
  <div class="row">
    <div class="col-sm-8 pull-left">
      <p>
        Exhibits is a service of the <a href="http://library.nd.edu">Hesburgh Libraries of Notre Dame</a>.
      </p>
      <p>
        For Technical Support call <a href="tel:5746316258">(574) 631-6258</a>  or email <a href="mailto:rfox2@nd.edu?subject=Support%20Request">rfox2@nd.edu</a>.
      </p>
      <p>
        <a href="http://www.nd.edu/copyright/">Copyright</a> 2014 <a href="http://www.nd.edu">University of Notre Dame</a>
      </p>

    </div>

    <div class="col-sm-4 pull-right">
      <a href="http://library.nd.edu">
        <%= image_tag('full-color-mark.png', class: "hesburgh-logo", alt: "University of Notre Dame Hesburgh Libraries") %>
    </div>
  </div>
</footer>


</body>
</html>
